.dashboard-container {
  padding: 30px;
  max-width: 600px;
  margin: auto;
}

.dashboard-container h1 {
  text-align: center;
  color: #4a5568;
}

.task-input {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.task-input input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.task-input button {
  padding: 10px 20px;
  background: #48bb78;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  background: #edf2f7;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.task-list li.done span {
  text-decoration: line-through;
  color: gray;
}

.task-list button {
  background: #f56565;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 8px;
}

.edit-btn {
  background: #ffc107;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
